@import 'variables';

.infos-importantes {
    margin-top: 0;

    &-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &-absence, &-questions {
            a {
                font-size: 1.6rem;
                text-decoration: underline;

                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}