.ratios {
    margin: 70px 0;

    @media #{$medium-plus} {
        margin: 70px;
    }

    &-content {

        h2 {
            text-align: center;
        }

        &-infos {
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            img {
                height: auto;
                width: 100%;
            }
        }

        &-image {
            min-width: 300px;
            margin: 0 50px;

            @media #{$large-plus} {
            }
        }

        &-table-container {
            background-color: white;
            border: 1px solid $mauve-ca;
            color: black;
            margin: 50px auto;
            padding: 30px;
            width: fit-content;
        }
        
        table {
            border-collapse: collapse;
            font-size: 2rem;
        }

        tr {
            border-bottom: 1px solid $mauve-ca;
        }

        th, td {
            padding: 10px;
        }

        th {
            color: $mauve-ca;
            text-align: right;
        }
    }
}