.videos {
    &-content {
        padding: 30px;
        
        &-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

            iframe {
                margin: 30px;
            }
        }
    }

    .cta {

        &-holder {
            padding: 40px 0;

            a {
                display: block;
                font-size: 4rem;
                width: 80%;
                max-width: 600px;
                text-align: center;
                margin: 0 auto;
                padding: 10px;
            }
        }
    }
}